@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@font-face {
  font-family: 'Inter-Bold';
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-ExtraBold';
  src: url('/fonts/Inter-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-Medium';
  src: url('/fonts/Inter-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-Regular';
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

html {
  font-size: 16px;
}

html,
body {
  /* position: fixed; */
  height: 100%;
  width: 100%;
}

#modal-root,
#error-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: stretch;
}

input.visit-input {
  font-family: ProximaNova-Semibold, Lato, sans-serif;
  font-size: 1.1rem;
  border: none;
}

input.visit-input:focus {
  outline: none;
}

body {
  font-family: ProximaNova-Semibold;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  overflow: hidden;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  transition: 300ms linear;
  opacity: 1 !important;
}

.fade-enter-done {
  opacity: 1 !important;
}

.fade-exit {
  opacity: 1 !important;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: 3000ms linear;
}

.fade-in-enter,
.fade-in-appear {
  transform: translateY(2rem);
  opacity: 0;
}

.fade-in-enter.fade-in-enter-active,
.fade-in-appear.fade-in-appear-active {
  transition: 200ms linear;
  transform: none;
  opacity: 1;
}

.slide-next-enter {
  transform: translateX(100%);
}

.slide-next-enter.slide-next-enter-active {
  transition: 200ms linear;
  transform: unset;
}

.slide-next-exit {
  transform: translateY(-100%);
}

.slide-next-exit.slide-next-exit-active {
  transition: 200ms linear;
  transform: translate(100%, -100%);
}

.slide-previous-enter {
  transform: scale(0.9);
}

.slide-previous-enter.slide-previous-enter-active {
  transition: 200ms linear;
  transform: unset;
}

.slide-previous-exit {
  transform: translateX(-100%);
}

.slide-previous-exit.slide-previous-exit-active {
  transition: 200ms linear;
  transform: translateX(-100%) scale(0.6);
}

.fly-in-enter,
.fly-in-appear {
  transform: translateY(100%);
}

.fly-in-enter.fly-in-enter-active,
.fly-in-appear.fly-in-appear-active {
  transition: 200ms linear;
  transform: none;
}

.fly-in-exit {
  transform: none;
}

.fly-in-exit.fly-in-exit-active {
  transition: 200ms linear;
  transform: translateY(100%);
}

.slide-in-enter,
.slide-in-appear {
  transform: translateX(100%);
}

.slide-in-enter.slide-in-enter-active,
.slide-in-appear.slide-in-appear-active {
  transition: 200ms linear;
  transform: none;
}

.slide-in-exit {
  transform: none;
}

.slide-in-exit.slide-in-exit-active {
  transition: 200ms linear;
  transform: translateX(100%);
}

/* .expand-hide-enter.expand-hide-enter-active {
  padding: 0 !important;
  height: 0;
  transition: 200ms linear;
}

.expand-hide-enter-done {
  padding: 0 !important;
  height: 0;
}

.expand-enter.expand-enter-active {
  background: white;
  transition: 200ms linear;
  margin-top: 0;
  transform: translateY(-100%);
}

.expand-enter-done {
  background: white;
  margin-top: 0;
  transform: translateY(-100%);
} */

.expand-enter,
.expand-appear {
  transform: scaleY(0.2);
  transform-origin: top;
}

.expand-enter.expand-enter-active,
.expand-appear.expand-appear-active {
  transform-origin: top;
  transform: scaleY(1);
  transition: all 150ms linear 0s;
}

.expand-exit {
  transform-origin: top;
  transform: scaleY(1);
  transform: none;
}

.expand-exit.expand-exit-active {
  transform-origin: top;
  transform: scaleY(0);
  transition: all 150ms linear 0s;
}

.expand-done-exit {
  transform-origin: top;
  transform: scaleY(0);
  transform: none;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #7f7f7f;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #7f7f7f;
  opacity: 0.5;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #7f7f7f;
  opacity: 0.5;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7f7f7f;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #7f7f7f;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(127, 127, 127, 0.5);
  /* opacity:  0.5; */
}
